<?xml version="1.0" encoding="utf-8"?>
<manifest package="pr.tongson.module_usersystem"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppThemeBar"
            android:screenOrientation="fullSensor"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>